{% extends 'base.html' %}

{% block content %}
<div class = "header my-5">
    <h2>Avaliable products</h2>
</div>
<div class = "mt-20">
    <table class = "table">
        <thead class = "thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit</th>
                <th scope="col">Unit price</th>
            </tr>
          </thead>
        <tbody>
            {% for item in product_list.items() %}
            <tr>
                <td class = "col-2">{{ item[1].name }}</td>
                <td class = "col-2">{{ item[1].quantity }}</td>
                <td class = "col-2">{{ item[1].unit }}</td>
                <td class = "col-2">{{ item[1].unit_price }}</td>
                <td><a class = "btn btn-dark" href="{{ url_for('sell_product', product=item[0])}}">Sell product</a></td>
            {% endfor %}
            </tr>
            <form id = "add_product" action = "{{ url_for('add_product')}}" method="POST">
                <tr>
                    {{ form.csrf_token }}
                    <td>{{ form.name }}</td>
                    <td>{{ form.quantity }}</td>
                    <td>{{ form.unit }}</td>
                    <td>{{ form.unit_price }}</td>
                    <td><button class ="btn btn-outline-secondary" type="submit">Add product</button></td>
                </tr>
        </tbody>
    </table>
</div>
{% endblock %}