{% extends 'base.html' %}
{% block content %}
<div class = "header my-5">
    <h2>Avaliable products</h2>
</div>
<div class = "mt-20">
    <table class = "table">
        <thead class = "thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit</th>
                <th scope="col">Unit price</th>
            </tr>
          </thead>
        <tbody>
            <tr>
                <td class = "col-2">{{ item.name }}</td>
                <td class = "col-2">{{ item.quantity }}</td>
                <td class = "col-2">{{ item.unit }}</td>
                <td class = "col-2">{{ item.unit_price }}</td>
            <tr>
                <td>{{ item.name }}</td>
                <form id = "sell_product" action = "/sell/{{ item.name }}" method="POST">
                    <td><input type = "text" id = "quantity" name="quantity" value="0"></td>
                <td>{{ item.unit }}</td>
                <td>{{ item.unit_price }}</td>
                <td><button class ="btn btn-outline-secondary" type="submit">Sell product</button></td>
                </form>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}